<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avaliacao Tinnova</title>
    <script th:src="@{/jquery.js}" type="text/javascript"></script>
    <script th:src="@{/tinnova.js}" type="text/javascript"></script>
</head>
<body>
    <a href="/page/novo-veiculo">Cadastrar Novo Veiculo</a>
    <h2>Lista de Veiculos</h2>

    <table id="tableVeiculos" border="1">
        <thead>
            <tr>
                <td>Action</td>
                <td>Id</td>
                <td>Veiculo</td>
                <td>Marca</td>
                <td>Ano</td>
                <td>Descricao</td>
                <td>Vendido</td>
                <td>Data de criação</td>
                <td>Data Ultima Atualização</td>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    

    </table>

    <br>
    <h4>Quantidade de veículos nao vendidos:<span id="spanQtdNaoVendidos"></span></h4>

    <h4>Veiculos por Década de fabricação:<span id="spanDecadaDeFabricacao"></span></h4>

    <h4>Veiculos por Fabricante:<span id="spanVeiculosFabricante"></span></h4>

    <h2>Lista de Veiculos - registrados na ultima semana</h2>

    <table id="tableregistradosUltimaSemama" border="1">
        <thead>
            <tr>
                <td>Id</td>
                <td>Veiculo</td>
                <td>Marca</td>
                <td>Ano</td>
                <td>Descricao</td>
                <td>Vendido</td>
                <td>Data de criação</td>
                <td>Data Ultima Atualização</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

        </tbody>
    

    </table>
    
</body>
</html>